// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.panel-heading > h4 {
  a:hover, a:visited {
    background-color: grey;
  }
}

.created_date {
  font-size: 12px;
  font-weight: 200;
}